<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registro.css"> </link>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  </head>
  <body>
    <div class="inner-screen">
      <div class="form">
          <form  method="post" action="/registrar">
            <h1>Registro de viajero</h1>
              <input class="box" name="nombre" type="text"  placeholder="Nombre" />
              <input class="box" name="apellido" type="text"  placeholder="Apellido" />
              <input class="box" name="correo" type="text"  placeholder="Correo" />
              <input class="box" name="usuario" type="text"  placeholder="Usuario" />
            <input class="box" name="contrasena" type="password" placeholder="Password" />
              <input class="box" name="edad" type="text"  placeholder="edad" />
              <input class="box" name="pais" type="text"  placeholder="Pais" />


             <input type="submit" value="Login" />
            <a href="https://www.google.com/" target="_blank">Perdiste tu clave?</a>
          </form>
          </div>
        </div>
  </body>
</html>